.hotelContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;
}

.hotelWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.bookNow {
  position: absolute;
  top: 10;
  right: 0;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hotelTitle {
  font-size: 24px;
}
.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}
.hotelPriceHighlight {
  color: #008009;
  font-weight: 500;
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImageWrapper {
  width: 33%;
  /* height: 200px; */
}

.hotelImage {
  width: 100%;
  object-fit: cover;
}

.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.hotelDetailTexts {
  flex: 3;
}
.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}
.hotelDetailPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hotelDetailPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDetailPrice > span {
  font-size: 14px;
}
.hotelDetailPrice > h2 {
  font-weight: 200;
}
.hotelDetailPrice > button {
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.slider {
  position: sticky;
  top: 0;
  left: 0;
  width: 200vh;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.315);
  z-index: 999;
  display: flex;
  align-items: center;
}
.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderImg {
  width: 90%;
  height: 80vh;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}
.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}
