.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fpItem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.fpImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.fpName {
  font-weight: bolder;
}
.fpCity {
  font-weight: 200;
}
.fpPrice {
  font-weight: 600;
}
.fpRating > button {
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  gap: 10px;
  font-weight: bold;
}
.fpRating > span {
  font-size: 14px;
}
