.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0;
}
.headerContainer.listMode {
  margin: 20px 0 0px 0;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItems.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDesc {
  margin: 20px 0px 20px 0px;
}
.headerBtn {
  background-color: #0071c2;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px Solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: lightgray;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerSearchInput {
  border: none;
  outline: none;
}
.headerSearchText {
  color: lightgray;
  cursor: pointer;
}
.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}
.options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}
.optionCounterBtn {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}
.optionCounterBtn :disabled {
  cursor: not-allowed;
}
