.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 12px;
}
.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.fList {
  list-style: none;
  padding: 0px;
}
.fListItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
